<!DOCTYPE html>
<html>
<head>
  <title>COFFEE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Coffee Finder</h1>
    <div class="search_bar">
      <h5> Location

<i class="fa fa-coffee" aria-hidden="true"></i>

        <%= form_tag current_location_path do %>
            <%= text_field_tag :location, "" %>
            <% end %>
      </h5>
    </div>

  </header>

<%= yield %>

</body>
</html>
