<!DOCTYPE html>
<html>
<head>
  <title>Pizza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
Pizza Finder
<% if @current_location %>
<%= link_to "New Location", sign_out_path, method: :delete%>
<%end%>
  </header>

<%= yield %>

</body>
</html>
